* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #14BDAC;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 1rem;
}
h1 {
  margin: 2rem;
  text-align: center;
}
.board {
  
  height: 30rem;
  width: 40rem;
  background-color: #0da192;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 0.8rem 0.8rem;
}
.square {
  background-color: #14BDAC;
  font-size: 5rem;
  cursor: pointer;
  outline: none;
}


.underBoard{
  display:flex;
  justify-content: space-between;
}
